body {
    height: 100hv;
    margin: 0;
    background-image: url("img/pexels-photo-2064058.jpeg");
    }
    
    .inner {
    margin: 0px;
    padding: 20px;
    background-color: transparent;
    width: 100%;
    }
    
    .wrapper {
    display: flex;
    
    }
    
    .div_container{
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(250,250,250, 0.75);
    height: 100hv;
    
    }
    
    img {
    width: 100%;
    height: auto;
    }
