.about-us{
    height: 100vh;
}
.about-oxygen{
    background-image: url('../../img/bg-about.jpg');
    background-size: cover;
    height: 50vh;
    width: 100%;
}
    .about-oxygen .shadow-box{
        text-align: center;
        width: 80%;
        height: 250px;
        margin: auto;
        margin-top: 10vh;
        background: rgba(155,155,155,0.4);

    }
    .about-oxygen .shadow-box h3{
        text-transform: uppercase;
        font-family: "Lao MN", serif;
        font-size: 4rem;
        color: blue;
        padding-top: 30px;
        margin-bottom: 30px;
    }

    .about-oxygen .shadow-box p{
        margin: auto;
        font-family: "Lato", serif;
        font-size: 1.4rem;
        width: 70%;
    }
.carousel-wrapper {
    position: relative;
    width: 100%;
    height: 50vh;
}

.item-1{
    background-image: url('../../img/slider-1.jpg');
}
.item-2{
    background-image: url('../../img/slider-2.jpg');
}
.item-3{
    background-image: url('../../img/slider-3.jpg');
}
.carousel-wrapper .carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.carousel-wrapper .carousel-item .arrow {
    position: absolute;
    top: 0;
    display: block;
    width: 50px;
    height: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background: url("http://dancort.es/assets/img/css-carousel/carousel-arrow-dark.png") 50% 50% / 30px no-repeat;
}
.carousel-wrapper .carousel-item .arrow.arrow-prev {
    left: 0;
}
.carousel-wrapper .carousel-item .arrow.arrow-next {
    right: 0;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.carousel-wrapper .carousel-item.light {
    color: white;
}
.carousel-wrapper .carousel-item.light .arrow {
    background: url("http://dancort.es/assets/img/css-carousel/carousel-arrow-light.png") 50% 50% / 30px no-repeat;
}
@media (max-width: 480px) {
    .carousel-wrapper .carousel-item .arrow, .carousel-wrapper .carousel-item.light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
    }
}
.carousel-wrapper [id^="target-item"] {
    display: none;
}
.carousel-wrapper .item-1 {
    z-index: 2;
    opacity: 1;
}
.carousel-wrapper *:target ~ .item-1 {
    opacity: 0;
}
.carousel-wrapper #target-item-1:target ~ .item-1 {
    opacity: 1;
}
.carousel-wrapper #target-item-2:target ~ .item-2, .carousel-wrapper #target-item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
}

.carousel-item h2{
    padding: 1rem;
    color: deepskyblue;
    font-family: "Lao MN", serif;
    font-size: 3rem;
    
}
.carousel-item p{
    padding: 1rem;
    color: aliceblue;
    font-family: "Lao MN", serif;
    font-size: 1rem;
}

@media screen and (max-width: 850px){
    .about-oxygen .shadow-box h3{
        font-size: 3rem; 
    }
    .about-oxygen .shadow-box p{
        font-size: 1.4rem;
    }
  } 

@media screen and (max-width: 650px){
    .about-oxygen .shadow-box h3{
        font-size: 2rem; 
    }
    .about-oxygen .shadow-box p{
        font-size: 1.2rem;
    }
    .carousel-item p {
        
        font-size: 0.76rem;
    }
  } 
@media screen and (max-width: 390px){
   
    .about-oxygen .shadow-box h3{
        font-size: 1.5rem; 
    }
    .about-oxygen .shadow-box p{
        font-size: 1em;
    }
  } 